body
{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
/* Header */
header
{
    height: 48px;
    width: 100%;
    background-color: #26519E;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    line-height: 23px;
    size: 16px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.header_left
{
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header_left a
{
    text-decoration: none;
}
.header_left h2
{
    font-size:18px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
}
.header_left a
{
    font-size:18px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
}
.header_right
{
    width: 302px;
    display: flex;
    align-items : center;
    border: black 1px solid;
}
.header_right_input
{
    width:189px;
    height:31px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.header_right_input img
{
    width: 15px;
    height: 15px;
}
.header_right_input input
{
    width:173px;
    height:29px;
    border: none;
    background-color: #ffffff;
    padding-left: 5px;
}

/* section_1 */
.section_1
{
    height: 412px;
    width: 99.8%;
    border: 1px solid black;
    display: flex;
    /* flex-direction: column; */
}
.fresh_resources
{
    width: 474px;
    height: 412px;
    border: 1px solid black;
}

.fresh_resources img
{
    width: 474px;
    height: 412px;
    /* border: 1px solid black; */
}
.unusual_wifi
{
    width: 340px;
    height: 412px;
    border: 1px solid black;
}
.unusual_wifi img
{
    width: 340px;
    height: 412px;
    /* border: 1px solid black; */
}
.section_1Cards
{
    width: 542px;
    border: 1px solid black;
    /* display: flex; */
}
.card_1
{
    width: 541px;
    height: 203px;
    border: 1px solid black;    
    display: flex;
    /* flex-direction: column; */
}
.card
{
    width: 272px;
    height: 205px;
    border: 1px solid black;
}
.card img
{
    width: 272px;
    height: 205px;
    /* border: 1px solid black; */
}