body
{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
/* Header */
header
{
    height: 48px;
    width: 100%;
    background-color: #26519E;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    line-height: 23px;
    size: 16px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.header_left
{
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: black solid 1px;
    /* margin-left: 40px; */
}
#logo_header
{
    color: #b3b3b3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: red solid 1px; */
    width: 180px;
}
.header_left a
{
    text-decoration: none;
}
.header_left h2
{
    font: size 24px;
    font-weight: 900;
    line-height: 26px;
    color: #ffffff;
    padding-right: 20px;
}
.header_left a
{
    font-size:14px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
}
.header_right
{
    width: 250px;
    display: flex;
    align-items : center;
    justify-content: flex-end;
    border: black 1px solid;
}
.header_right_input
{
    width:189px;
    height:31px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.header_right_input img
{
    width: 15px;
    height: 15px;
}
.header_right_input input
{
    width:173px;
    height:29px;
    border: none;
    background-color: #ffffff;
    padding-left: 5px;
    color: grey;

}

/* section_1 */
.section_1
{
    height: 412px;
    width: 99.8%;
    border: 1px solid red;
    display: flex;
    color: grey;

    /* flex-direction: column; */
}
.section_1-text
{
    display: flex;
    flex-direction: column;
    border: solid green 1px;
    height: 160px;
}
.fresh_resources h3 a
{
    font-size: 30px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Roboto Slab',Helvetica,Arial,sans-serif;
    color: #fff;
    text-decoration: none;
}
.fresh_resources h3
{
    margin-block-end: 0.5em;

}
#fresh_resources_h:hover
{
    text-decoration: underline;
    color: #2C78AC;
}
#fresh_resources_p
{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    width: 400px;
    font-family: 'PT Sarif';
    border: red solid 1px;
    margin-block-start: 0em;
}
.fresh_resources
{
    width: 470px;
    height: 412px;
    border: 1px solid red;
    background-image:linear-gradient(to bottom, rgba(37, 37, 37),transparent),
    url(fresh-resources-for-web-designers-and-developers-april-2020.jpg);
    background-size: 470px 412px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fresh_resources img
{
    width: 47px;
    height: 412px;
    
    /* border: 1px solid black; */
}
.unusual_wifi
{
    width: 340px;
    height: 412px;
    border: 1px solid red;
}
.unusual_wifi img
{
    width: 340px;
    height: 412px;
    /* border: 1px solid black; */
}
.section_1Cards
{
    width: 556px;
    border: 1px solid red;
    /* display: flex; */
}
.card_1
{
    width: 541px;
    height: 203px;
    border: 1px solid red;    
    display: flex;
    /* flex-direction: column; */
}
.card
{
    width: 269px;
    height: 205px;
    border: 1px solid red;

}
.card img
{
    width: 272px;
    height: 205px;
    /* border: 1px solid black; */
}

/* Main */
.main_cards
{
    height: 2160px;
    /* width: 99.8%; */
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card_layout
{
    width: 337px;
    height: 472px;
    border: 1px solid black;
    padding: 25px;
    margin-bottom:20px;
}
.card_layout img
{
    height: 219px;
    width: 340px;
}
.card_layout_items h3
{
    margin-block-end: 0.7em;
    margin-block-start: 0.5em;
    width: 300px;
}
#anker_1
{
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-family: 'Roboto Slab',Helvetica,Arial,sans-serif;
}
#anker_1:hover
{
    text-decoration: underline;
    color: blue;
}
.card_layout_items p
{
    margin-block-end: 0.8;
    margin-block-start: 0;
    color: grey;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Roboto Slab',Helvetica,Arial,sans-serif;
    width: 315px;
}
.anker_2
{
    text-decoration: none;
    font-size:12px;
    line-height: 12px;
    font-weight: 500;
    color: #b3b3b3;
}
.anker_2:hover
{
    text-decoration: underline;
    color: grey;
}
.card_layout_items button
{
    height: 29px;
    width: 96px;
    border: none;
    margin-top: 20px;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    font-weight: 500;
    background-color: grey;
}
.card_layout_items button:hover
{
    background-color: #2C87E2;
    color: white;
}

/* Page Number */
.page_number
{
    border: black 1px solid;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    /* flex-direction:column; */
}
.page_number a
{
    text-decoration: none;
    color: #999;
    font-weight: 700;
    font-family: 'Roboto Slab',Helvetica,Arial,sans-serif;
    padding: 15px 10px;
    font-size: 20px;
}
.page_number a:hover
{
    background-color: #26519E;
    color: white;
}
#default_num
{
    background-color: #26519E;
    color: white;
}

/* Footer */
footer
{
    height: 225px;
    /* width: 99.8%; */
    background-color: #262626;
}
footer p
{
    color: #b3b3b3;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Serif',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin-block-end: 0;
    margin-block-start: 0;
}
#footer_p
{
    padding-top: 50px;
}
#logo
{
    color: #b3b3b3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
    fill: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: red solid 1px; */
    width: 150px;
}
.logo_footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}